---
layout: basic
---

<section id="echo-colors" class="echo__color echo__section">
  <h2 class="echo__section-title">Colors</h2>
  {% include _sections/colors.html %}
</section>

<section id="echo-inline" class="echo__inline echo__section">
  <h2 class="echo__section-title">Inline</h2>
  {% include _sections/inline.html %}
</section>

<section id="echo-block" class="echo__block echo__section">
  <h2 class="echo__section-title">Block</h2>
  {% include _sections/block.html %}
</section>

<section id="echo-layout" class="echo__layout echo__section">
  <h2 class="echo__section-title">Layout</h2>
  {% include _sections/layout.html %}
</section>

<section id="echo-components" class="echo__component echo__section">
  <h2 class="echo__section-title">Components</h2>
  {% include _sections/components.html %}
</section>