$echo-brand-color: #D84315;                       // red

$echo-black: #212121;

$echo-white: #FFFFFF;

$echo-background-dark: #263238;

$echo-text-color: #616161;

$echo-text-highlight-color: $echo-brand-color;

$echo-border-color: #BDBDBD;
