<footer class="echo__footer">
  <div class="echo__container">
    <h5 class="echo"><span>Echo</span> Style Sherpa</h5>
    <a href="https://github.com/iamhexcoder/echo">Github</a>
  </div>
</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Prism, for code markup -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>

<!-- Style guide js -->
<script src="/assets/js/build/style-guide.js"></script>

<!-- Echo theme js -->
<script src="/assets/js/build/echo-theme.js"></script>